@import 'src/style/partials';

.input-message {
  height: 50px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .image-file-name {
    position: absolute;
    bottom: 50px;
    background-color: #fff;
    right: 0;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    border: solid 1px #ccccccb3;
    display: flex;
    align-items: center;
    gap: 5px;

    .delete-image-button {
      width: 15px;
      height: 15px;
      position: relative;
      cursor: pointer;

      .close {
        width: 3px;
        height: 15px;
        background-color: #000;
        rotate: 135deg;
        position: absolute;
        right: 5.5px;
        border-radius: 5px;
      }

      .close:nth-child(2) {
        rotate: -135deg;
      }
    }
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    color: $blackCoral;
    font-size: 18px;

    &::placeholder {
      color: $secondaryTextColor;
    }
  }

  .send {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      height: 24px;
      cursor: pointer;
      color: $darkElectricBlue;
    }

    button {
      border: none;
      padding: 10px 15px;
      color: $cultured;
      background-color: $darkElectricBlue;
      cursor: pointer;
    }
  }
}