@import 'src/style/partials';

.sidebar,
.sidebar.show {
  flex: 1;
  background-color: $charCoal;
  color: $cultured;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

/*media-queries*/

@include smToMd {
  .sidebar {
    border-right: solid 1.5px $beauBlue;
    width: 200px;
    flex: none !important;

    .button-mobile-navbar {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .icon.bars-menu {
        cursor: pointer;
        display: block;
        font-size: 20px;
        transition: transform 0.3s ease-in-out;
      }

      .icon.bars-menu.rotate-90 {
        transform: rotate(45deg);
      }
    }
  }
}

@include sm {
  .sidebar {
    display: flex;
    right: 100%;
    top: 0%;
    height: 100%;
    width: 100%;
    transition: all 300ms ease-in-out;
    flex-direction: column;
    position: absolute;
  }

  .sidebar.show {
    right: 0;
  }
}